extends layout

block content
  p Hi #{firstName},
  p This is a confirmation that the password for your Infinity Quotient Learning account has been successfully changed.
  
  p If you didn't make this change, please contact our support team immediately at #{process.env.SUPPORT_EMAIL || 'support@infinityquotientlearning.com'}.

  p Regards,
  p The Infinity Quotient Learning Team